<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <link rel="stylesheet" href="/css/admin.css">
    <title>Admin Dashboard</title>
</head>
<body>
    <!-- the navbar -->
    <%- include('nav',{'profileroute':"/logout-admin", 'label':'Log Out'}); %>
    <!-- Alert -->
   
    <!-- the sidebar -->
    <%- include('admin-sidebar'); %>
    <!-- the workspace -->
    <div id="admin__workpsace">

    </div>
    <!-- scriptings -->
    <script src="https://kit.fontawesome.com/434d831d58.js" crossorigin="anonymous"></script>
    <script src="script/jquery.js"></script>   
    <script src="script/admin.js"></script> 
</body>
</html>