<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>sbec.ng</title>
</head>
<body>
    <!-- the navbar -->
    <%- include('nav',{'profileroute':"/register", 'label':'Register'}); %>

    <!-- page container -->
     <div id="client_container" class="client_container">

        <!-- left-sidebar -->
        <div class="left-sidebar big-sidebasr">
            <div id="left-sidebar_title">
                <p class="close_left_sidebar">&times</p>
                <h1>Useful Links</h1>
            </div>

            <div id="search__left-sidebar">
                <i class="fas fa-search"></i>
                <input type="text" id="inp_srch_leftbar">
            </div>
            
            <fieldset id="view__left-sidebar">
                <legend>VIEW BY CATEGORIES</legend>
                <ul class="left_sidebar_lists" id="view__list">

                </ul>
            </fieldset>    
        </div>
        <div class="sml-sidebasr">
            <p class="open_left_sidebar">&#9776;</p> 
            <br>
            <br>
            <i class="fas fa-search"></i>
            <br>
            <br>
            <fieldset id="view__left-sidebar">
                <legend>VIEW</legend>

            </fieldset>
        </div>

        <!-- the shopfloor -->
        <div id="users__shopfloor">
            

        </div>

        <!-- shopping cart -->
        <div class="cart big-cart">
            <div class="cart-btns">
                <p class="cart-checkout">Check Out</p>
                <p class="close_big_cart">&times;</p> 
            </div>

            <P class="cart_title">Shopping Cart</P>
            
            <div class="trays">

            </div>

        </div>
     </div>

    <!-- scriptings -->
    <script src="https://kit.fontawesome.com/434d831d58.js" crossorigin="anonymous"></script>
    <script src="script/jquery.js"></script>
    <script src="script/home.js"></script>
    <script src="script/navbar.js"></script>  
</body>
</html>