<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>
     <!-- the navbar -->
     <%- include('nav',{'profileroute':"/register", 'label':'Register'}); %>
     <!-- login form -->
    <div class="container">
        <form action="/login" method="post" name="form__signon" id="form__signon">
            <div id="title_container">
                <h2>User Login</h2>
            </div>
            <div id="data__container">

                <p id="alert"><%= message %></p> 

                <div class="formfield" id="email">
                    <label for="" class="inputlabel_user">Email</label>
                    <input type="text" class="inputfield" name="email" id="input__email">
                </div>
                <div class="formfield" id="pwd">
                    <label for="" class="inputlabel_user">Password</label>
                    <input type="password" class="inputfield" name="pwd" id="input__pwd">
                </div>

            </div>
           <div id="actions__container">
                <input type="button" value="Cancel" class="action__buttons">
                <input type="submit" value="Submit" class="action__buttons">
           </div>
        </form>
    </div>
    <!-- scripting -->
    <script src="https://kit.fontawesome.com/434d831d58.js" crossorigin="anonymous"></script>
    <script src="/script/jquery.js"></script>
</body>
</html>