<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <form action="/login" method="post" name="form__signon" id="form__signon">
            <div id="title_container">
                <h2>Sign-On Form</h2>
            </div>
            <div id="data__container">
                <!-- <div class="formfield" id="fiestname">
                    <label for="" class="inputlabel">First Name</label>
                    <input type="text" class="inputfield" name="firstname" id="input__firstname">
             
                <div class="formfield" id="lastname">
                    <label for="" class="inputlabel">Last Name</label>
                    <input type="text" class="inputfield" name="lastname" id="input__lastname">
                </div> -->
                <div class="formfield" id="email">
                    <label for="" class="inputlabel">Email</label>
                    <input type="text" class="inputfield" name="email" id="input__email">
                </div>
                <div class="formfield" id="pwd">
                    <label for="" class="inputlabel">Password</label>
                    <input type="password" class="inputfield" name="pwd" id="input__pwd">
                </div>
                <!-- <div class="formfield" id="cpwd">
                    <label for="" class="inputlabel">Confirm Password</label>
                    <input type="password" class="inputfield" name="cpwd" id="input__cpwd">
                </div> -->
            </div>
           <div id="actions__container">
                <input type="button" value="Cancel" class="action__buttons">
                <input type="submit" value="Submit" class="action__buttons">
           </div>
        </form>
    </div>
    <script src="/script/jquery.js"></script>
    <script src="/server/routes/login.js"></script>
</body>
</html>