<div class="container">
    <nav>
        <div class="logo">
            <img src="/assets/SBO Logo.png" alt="company Logo" width="50">
        </div>
        <div class="menubar">
            <ul class="menuitems">
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Products</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </div>
        <div class="searchbar">
            <input type="text" name="" id="">
            <i class="fas fa-search"></i>
        </div>
        <div class="storebar">
            <div class="alert">
                <i class="fas fa-bell storebar-fas"></i>
            </div>
            <div class="cart">
                <i class="fas fa-cart-arrow-down storebar-fas"></i>
                <span class="cartholr"></span>
            </div>
        </div>
        <a href=<%= profileroute %>>
            <div class="userprofile">
                <div><i class="fas fa-user-tie"></i></div>
                <p><%= label %></p>
            </div>
        </a>
    </nav>
</div>