*{
    box-sizing: border-box;
    margin: 0;
    color: yellow;
}
body{
    background-color: beige;
}
.container{
    background-color: rgb(124, 34, 1);
}
nav{
    display: grid;
    grid-template-columns: 10% 50% 25% 10% 5%;
    justify-content: center;
    align-items: center;
    padding: .5rem .5rem;
}
#nav-placeholder{
    display: grid;
    grid-template-columns: 10% 50% 25% 10% 5%;
    justify-content: center;
    align-items: center;
    padding: .5rem .5rem;
}
.hamburger-menu{
    padding-right: 1.5rem;
    cursor: pointer;
    display: none;
}

.hamburger-menu .line{
    display: none;
    width:2.5rem;
    height: 2px;
    margin-bottom: 10px;
    background-color: yellow;
    cursor: pointer;

}
.menubar>ul{
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15%, auto) ) ;
    justify-content: center;
}
.menubar>ul>li{
    list-style: none;
    font-size: 1.2rem;
    display: flex;
}
.menubar>ul>li:hover{
    border-bottom: .1rem solid yellow;
}
.menubar>ul>li>a{
    text-decoration: none;
    font-size: 1.2rem;
}
.menubar>ul>li>a:hover{
    color: silver;
}
.searchbar{
    background-color: yellow;
    border: .1rem solid black;
    justify-content: space-between;
    padding: .1rem;
    border-radius: 2%;
}
.searchbar> input{
    width: 92%;
    height: 1.8rem;
    font-size: 1rem;
    background-color: aliceblue;
    border: none;
    color: black;
}

.fa-search{
    font-size: 1.3rem;
    color: black;
}
.fa-search:hover{
    cursor: pointer;
}
.storebar{
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
}
.userprofile{
    justify-items: center;
}
.userprofile>p{
    font-size: .8rem;
}
.userprofile>div{
    padding: .7rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: .01rem solid yellow;
}
.fas:hover{
    cursor: pointer;
    color: silver;
}
.storebar-fas:hover{
    /* cursor: pointer;
    color: silver; */
    border: .05rem solid silver;
    border-radius: 50%;
    padding: .25rem;

}

/* ---------USER Registration --------------------- */

#form__signon{
    background-color: rgb(124, 34, 1);
    position: absolute;
    top: 10%;
    left: 20%;
    width: 60%;
    height: 80%;
    border-radius: 5%;
}
#form__signon>h3{
    width: 80%;
    border: .1rem solid white;
}
#data__container, #title_container{
    position: relative;
    left: 20%;
}
#title_container{
    position: relative;
    padding: .5rem;
    width: 60%;
    top: 10%;
    background-color: rgb(124, 70, 1);
    align-content: center;
}
#alert{
    padding: 1rem;
    font-size: 1rem;
    font-style: italic;
    color: whitesmoke;
    border-radius: 15px;
    position: relative;
    text-align: center;
}
#data__container{
    width: 60%;
    height: 50%;
    top: 15%;
    padding: 1rem .5rem;
    border: .1rem solid rgb(124, 70, 1);
    overflow: auto;
}
.inputlabel-user, .inputfield{
    margin: .5rem 0;
    height: 1.5rem;
}
.inputlabel-user{
    width: 5rem;
    font-size: 1.5rem;
}
.formfield{
    text-align: right;
    padding-right: 50px;
}
.inputfield{
    width: 50%;
    color: black;
    position: relative;
    right: 0;
}
#actions__container{
    position: absolute;
    bottom: 10%;
    left: 20%;
    width: 60%;
    height: auto;
    background-color: rgb(124, 70, 1);
    text-align: center;
}
.action__buttons{
    width: auto;
    height: 2rem;
    font-size: 20px;
    color: black;
    margin: 0.5rem 2rem;
}
#registered{    
    text-align: center;
    font-style: italic;
    color: lightgray;
    position: relative;
    bottom: -33%;
}
/* ---------ADMIN Registration --------------------- */
#admin__signon{
    background-color: lightgray;
    position: absolute;
    top: 10%;
    left: 20%;
    width: 60%;
    height: 80%;
    border-radius: 5%;
}
#admin__signon>h3{
    width: 80%;
    border: .1rem solid white;
}
.inputlabel{
    width: 5rem;
    color:  rgb(124, 70, 1);
    font-size: 1.5rem; 
}
#alert-admin{
    padding: 1rem;
    font-size: 1rem;
    font-style: italic;
    color:  rgb(124, 70, 1);
    border-radius: 15px;
    position: relative;
    text-align: center;
}
/* ................shopfloor container............ */
#client_container{
    display: flex;

}
.left-sidebar{
    width: 20%;
    margin-right: 1%;
    padding-left: 1%;
    background-color: bisque;
}
.sml-sidebasr{
    width: 3%;
    background-color: bisque;
    color: darkred;
    text-align: center;
    display: none;
}
.sml-sidebasr .fa-search,.sml-sidebasr legend{
    color: gray;
    font-size: .8rem;
}
.left-sidebar div> h1{
    color: darkred;
    width: 90%;
}
.left_sidebar_lists li{
    color: darkred;
    list-style: none;
    margin: 1rem 0;
}
.left_sidebar_lists li:hover{
    border-bottom: .1rem solid darkred;
    cursor: pointer;
}
.left_sidebar_lists li a{
    color: darkred;
    list-style: none;
    font-size: 1.1rem;
}
.left_sidebar_lists li a:hover{
    color: grey;
}
#users__shopfloor{
    width: auto;
}
.close_left_sidebar{
    font-size: 2.5rem;
    margin-left: 85%;
    color: darkred;
}
.open_left_sidebar{
    font-size: 2rem;
    color: darkred;
}
.close_left_sidebar:hover,.open_left_sidebar:hover{
    cursor: pointer;
    color: gray;
}
legend{
    color: darkred;
}
#search__left-sidebar,#view__left-sidebar{
    width: 95%;
    border: .002rem solid silver;
    padding: 2%;
    border-radius: 10px;
    margin-top: 5%;
    color: darkred;
}
#search__left-sidebar{
    display: flex;
}
#search__left-sidebar i{
    color: darkred;
}
#search__left-sidebar input{
    width:90%;
    background: transparent;
    border: none;
}

/* ...........shopping cart........... */
.big-cart{
    width: 25%;
    /* display: none; */
    background-color: antiquewhite;
    /* position: fixed; */
    /* inset: 0 0 0 auto; */
    overflow-wrap: normal;
}
.trays_container{
    width: 100%;
    /* display: none; */
    background-color: antiquewhite;
    /* position: fixed; */
    /* inset: 0 0 0 auto; */
    overflow-wrap: normal;   
}
.cart_title{
    color: darkred;
    font-size: 1.5rem;
    padding: .5rem;
    border-bottom: .2rem solid darkred;
}
.cart-btns{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    margin-top: 1rem;
}
.cart-checkout{
    background-color: darkred;
    color: silver;
    border-radius: 10px;
    padding: .5rem;
    margin-left: .5rem;
    cursor: pointer;
}
.close_big_cart{
    font-size: 2rem;
    /* width: 100%; */
    font-weight: bolder;
    color: darkred;
    /* margin-left: 80%; */
}
.close_big_cart:hover{
    color: gray;
    font-weight: bolder;
    cursor: pointer;
}
.cartholr{
    color: white;
}
.product_tray{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(24%,auto));
    gap: 10px;
    padding: 5%;
    border-bottom: .1rem solid darkred;
    overflow-wrap: normal;
}
.tray_img img{
    width: 50px;
}
.tray_qty{
    display: flex;
}
.tray_items{
    color: gray;
    margin-right: .5rem;
    align-content: center;

}
.qty{
    align-content: center;
    color: black;
}
.minus,.plus {
    font-size: 1.2rem;
    width: 1.2rem;
    height: 1.2rem;
    font-weight: bolder;
    background-color: gray;
    color: white;
    border-radius:5px;
    margin: .2rem;
    cursor: pointer;
    padding-left: .2rem;
    align-self: center;
}
/* ----------------------Users Shopfloor-------------------- */

/* Display all products */
#users__shopfloor{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15%, auto) ) ;

}
#product__shelf{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(20%, auto) ) ;

    gap: 10px;
    position: relative;

}
#product__shelf, .product__card{
    color: black;
    background-color: white;
    padding: 10px;
}
.product__card{
    width: 100%;
    border-top: 1rem solid darkgray;
    margin-right: 10px;
    display: flex;
}

.product__card> div h3 {
    color: black;
}
.product__card> div p,div span{
    color: black;
}
.product__card> div> div summary {
    color: black;
}

summary{
    color: black;
    font-weight: bolder;
    font-size: 1.5rem;
    margin-bottom: 10PX;
}
#card__image{
    width: 90%;
}
#prodimg{
    margin: 10px;
    filter: drop-shadow(0 10px 20px #0009);
}

#card__image img,figcaption> h3, #card__image img,figcaption>p{
    text-align: center;
    width: 100%;
}
#card__details{
    position: relative;
    margin-right: 10px;
    text-align: right;
    right: 20px;
}
#card__details> div> p{
    color: black;
    margin-bottom: 5px;
}
#card__details> div> p:hover{
    color: chocolate;
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 5px;
    background-color: lightyellow;
}
#card__buttons {
    margin-top: 20px;
}
.icons{
    display: flex;
    justify-content: right;
}
.icons> p{
    color: chocolate;
    font-style: italic;
    width: auto;
    text-wrap: nowrap;
    margin-right: 5px;
    display: none;
}
#card__buttons .fas{
    display: block;
    font-size: 1.5rem;
    color: darkgray;
    margin-bottom: 10px;
}
/* #card__buttons> p{
    display: none;
} */

#card__buttons> .icons> .fas:hover{
    display: block;
    font-size: 1.5rem;
    color: chocolate;
    margin-bottom: 10px;
}

#overlay{
    width: 100%;
    height: 100%;
    background-color: grey;
    opacity: 0.9;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
}

#additem__page{
    width: 60%;
    height: 500px;
    background-color: black;
    opacity: 1;
    margin: 5% auto;
}

/* ----------------------for non Desktop view-------------------- */
@media screen and (max-width:1281px) {
    nav{
        display: flex;
        justify-content: space-around;
    }
    .menubar{
        display: none;
    }
    .hide-menubar{
        display: block;
        width: 100%;
        height: auto;
        list-style: none;
        position: fixed;
        right: 0;
        top: 8%;
        background-color: gray;
    }
    .hide-menubar>ul{
        width: 100%;
        list-style: none;
        text-align: center;
        padding: .5rem;
    }
    .hide-menubar>ul>li>a{
        text-decoration: none;
        font-size: 2rem;
        font-weight: bold;
    }
    .hamburger-menu{
        display: block;
    }
    .hamburger-menu .line{
        display: block;
    } 
    .hamburger-menu .line:hover{
        background-color: lightgray;
    } 
    
    .searchbar{
        background-color: rgb(124, 34, 1);
        border: none;
    }
    .searchbar input{
        display: none;
        background-color: rgb(124, 34, 1);
    }
    .searchbar .fa-search{
        color: yellow;
    }
    .storebar{
        display: none;
    }
}