*{
    box-sizing: border-box;
    margin: 0;
    color: yellow;
}
body{
    background-color: beige;
}
.container{
    background-color: rgb(124, 34, 1);
}
nav{
    display: grid;
    grid-template-columns: 10% 50% 25% 10% 5%;
    justify-content: center;
    align-items: center;
    padding: .5rem .5rem;
}
#nav-placeholder{
    display: grid;
    grid-template-columns: 10% 50% 25% 10% 5%;
    justify-content: center;
    align-items: center;
    padding: .5rem .5rem;
}
.hamburger-menu{
    padding-right: 1.5rem;
    cursor: pointer;
    display: none;
}

.hamburger-menu .line{
    display: none;
    width:2.5rem;
    height: 2px;
    margin-bottom: 10px;
    background-color: yellow;
    cursor: pointer;

}
.menubar>ul{
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15%, auto) ) ;
    justify-content: center;
}
.menubar>ul>li{
    list-style: none;
    font-size: 1.2rem;
    display: flex;
}
.menubar>ul>li>a{
    text-decoration: none;
    font-size: 1.2rem;
}

.searchbar{
    background-color: yellow;
    border: .1rem solid black;
    justify-content: space-between;
    padding: .1rem;
    border-radius: 2%;
}
.searchbar> input{
    width: 92%;
    height: 1.8rem;
    font-size: 1rem;
    background-color: aliceblue;
    border: none;
    color: black;
}

.fa-search{
    font-size: 1.3rem;
    color: black;
}
.fa-search:hover{
    cursor: pointer;
}
.storebar{
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
}
.userprofile{
    justify-items: center;
}
.userprofile>p{
    font-size: .8rem;
}
.userprofile>div{
    padding: .7rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: .01rem solid yellow;
}
.fas:hover{
    cursor: pointer;
}

/* ---------USER Registration --------------------- */

#form__signon{
    background-color: rgb(124, 34, 1);
    position: absolute;
    top: 10%;
    left: 20%;
    width: 60%;
    height: 80%;
    border-radius: 5%;
}
#form__signon>h3{
    width: 80%;
    border: .1rem solid white;
}
#data__container, #title_container{
    position: relative;
    left: 20%;
}
#title_container{
    position: relative;
    padding: .5rem;
    width: 60%;
    top: 10%;
    background-color: rgb(124, 70, 1);
    align-content: center;
}
#alert{
    padding: 1rem;
    font-size: 1rem;
    font-style: italic;
    color: whitesmoke;
    border-radius: 15px;
    position: relative;
    text-align: center;
}
#data__container{
    width: 60%;
    height: 50%;
    top: 15%;
    padding: 1rem .5rem;
    border: .1rem solid rgb(124, 70, 1);
    overflow: auto;
}
.inputlabel-user, .inputfield{
    margin: .5rem 0;
    height: 1.5rem;
}
.inputlabel-user{
    width: 5rem;
    font-size: 1.5rem;
}
.formfield{
    text-align: right;
    padding-right: 50px;
}
.inputfield{
    width: 50%;
    color: black;
    position: relative;
    right: 0;
}
#actions__container{
    position: absolute;
    bottom: 10%;
    left: 20%;
    width: 60%;
    height: auto;
    background-color: rgb(124, 70, 1);
    text-align: center;
}
.action__buttons{
    width: auto;
    height: 2rem;
    font-size: 20px;
    color: black;
    margin: 0.5rem 2rem;
}
#registered{    
    text-align: center;
    font-style: italic;
    color: lightgray;
    position: relative;
    bottom: -33%;
}
/* ---------ADMIN Registration --------------------- */
#admin__signon{
    background-color: lightgray;
    position: absolute;
    top: 10%;
    left: 20%;
    width: 60%;
    height: 80%;
    border-radius: 5%;
}
#admin__signon>h3{
    width: 80%;
    border: .1rem solid white;
}
.inputlabel{
    width: 5rem;
    color:  rgb(124, 70, 1);
    font-size: 1.5rem; 
}
#alert-admin{
    padding: 1rem;
    font-size: 1rem;
    font-style: italic;
    color:  rgb(124, 70, 1);
    border-radius: 15px;
    position: relative;
    text-align: center;
}

/* ----------------------Users Shopfloor-------------------- */

/* Display all products */
#product__shelf{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
#product__shelf, #product__card{
    color: black;
    background-color: white;
    padding: 10px;
}
#product__card{
    width: 100%;
    border-top: 1rem solid darkgray;
    margin-right: 10px;
    display: flex;
}

#product__card> div h3 {
    color: black;
}
#product__card> div p{
    color: black;
}
#product__card> div> div summary {
    color: black;
}

summary{
    color: black;
    font-weight: bolder;
    font-size: 1.5rem;
    margin-bottom: 10PX;
}
#card__image{
    width: 90%;
}
#prodimg{
    margin: 10px;
}
#card__image img,figcaption> h3, #card__image img,figcaption>p{
    text-align: center;
    width: 200px;
}
#card__details{
    position: relative;
    margin-right: 10px;
    text-align: right;
    right: 20px;
}
#card__details> div> p{
    color: black;
    margin-bottom: 5px;
}
#card__details> div> p:hover{
    color: chocolate;
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 5px;
    background-color: lightyellow;
}
#card__buttons {
    margin-top: 20px;
}
.icons{
    display: flex;
    justify-content: right;
}
.icons> p{
    color: chocolate;
    font-style: italic;
    width: auto;
    text-wrap: nowrap;
    margin-right: 5px;
    display: none;
}
#card__buttons .fas{
    display: block;
    font-size: 1.5rem;
    color: darkgray;
    margin-bottom: 10px;
}
/* #card__buttons> p{
    display: none;
} */

#card__buttons> .icons> .fas:hover{
    display: block;
    font-size: 1.5rem;
    color: chocolate;
    margin-bottom: 10px;
}

#overlay{
    width: 100%;
    height: 100%;
    background-color: grey;
    opacity: 0.9;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
}

#additem__page{
    width: 60%;
    height: 500px;
    background-color: black;
    opacity: 1;
    margin: 5% auto;
}

/* ----------------------for non Desktop view-------------------- */
@media screen and (max-width:1281px) {
    nav{
        display: flex;
        justify-content: space-around;
    }
    .menubar{
        display: none;
    }
    .hide-menubar{
        display: block;
        width: 100%;
        height: auto;
        list-style: none;
        position: fixed;
        right: 0;
        top: 8%;
        background-color: gray;
    }
    .hide-menubar>ul{
        width: 100%;
        list-style: none;
        text-align: center;
        padding: .5rem;
    }
    .hide-menubar>ul>li>a{
        text-decoration: none;
        font-size: 2rem;
        font-weight: bold;
    }
    .hamburger-menu{
        display: block;
    }
    .hamburger-menu .line{
        display: block;
    } 
    .hamburger-menu .line:hover{
        background-color: lightgray;
    } 
    
    .searchbar{
        background-color: rgb(124, 34, 1);
        border: none;
    }
    .searchbar input{
        display: none;
        background-color: rgb(124, 34, 1);
    }
    .searchbar .fa-search{
        color: yellow;
    }
    .storebar{
        display: none;
    }
}